@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">

                <img src="~/Content/img/Inicio-pizza.jpg" class="img-responsive">
                <div></div>
                <div class="carousel-caption">
                    <div class="item">
                        <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
                        <div class="p-inicial-hold">

                            <p style="font-weight:bold!important">Faça parte da maior rede social gourmet do Brasil</p>
                            <p> </p>
                        </div>
                        <div class="col-md-3 col-md-offset-3 ">
                            <p>
                                <a class="btn btn-cadastro btn-block" href="@Url.Action("Register", "Account")">
                                    CADASTRE-SE
                                </a>
                            </p>
                        </div>
                        <div class="col-md-3">

                            <p>
                                <a class="btn btn-default btn-block" href="@Url.Action("Login", "Account")">
                                    ENTRAR
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

            <div class="row">
                <div class="col-md-4 text-center">
                    <button type="button" class="btn btn-warning btn-circle btn-xl"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>
                    <h4>Aprenda</h4>
                    <p>Aprenda as melhores receitas!</p>
                </div>
                <div class="col-md-4 text-center">
                    <button type="button" class="btn btn-warning btn-circle btn-xl"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></button>

                    <h4>Cozinhe</h4>
                    <p>Cozinhe o que aprendeu ou invente as suas receitas!</p>
                </div>
                <div class="col-md-4 text-center">
                    <button type="button" class="btn btn-warning btn-circle btn-xl"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>

                    <h4>Compartilhe</h4>
                    <p>Compartilhe suas receitas!</p>
                </div>
            </div>
}